<div class="max-w-3xl mx-auto px-4 py-10">
  <button routerLink="/cliente/historial"
    class="flex items-center text-sm text-gray-500 hover:text-cyan-600 mb-6 transition-colors">
    <fa-icon [icon]="faArrowLeft"></fa-icon> Volver al historial
  </button>

  @if (cargando()) {
  <div class="flex flex-col items-center justify-center py-20 bg-white rounded-2xl shadow-sm">
    <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-cyan-600"></div>
    <p class="mt-4 text-gray-500">Consultando detalles del pedido...</p>
  </div>
  } @else if (pedido()) {
  <div
    class="bg-white dark:bg-gray-800 rounded-3xl shadow-xl overflow-hidden border border-gray-100 dark:border-gray-700">

    <div class="bg-blue-700 dark:bg-sky-700 p-8 text-white">
      <div class="flex justify-between items-start">
        <div>
          <p class="text-cyan-100 text-sm uppercase tracking-wider font-semibold">Orden de Pedido</p>
          <h1 class="text-3xl font-bold italic">#{{ pedido().id_pedido }}</h1>
          <p class="text-cyan-100 text-sm mt-1">{{ pedido().fecha_pedido | date: 'fullDate' }}</p>
        </div>
        <div class="text-right">
          <span class="px-3 py-1 bg-yellow-600 backdrop-blur-md rounded-lg text-xs font-bold uppercase">
            {{ pedido().estado }}
          </span>
        </div>
      </div>
    </div>

    <div class="p-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-10 pb-8 border-b border-gray-100 dark:border-gray-700">
        <div>
          <h3 class="text-gray-400 text-xs uppercase font-bold mb-3 tracking-widest">Entregar a:</h3>
          <p class="font-bold text-gray-800 dark:text-gray-100 text-lg">{{ pedido().cliente_nombre }}</p>
          <p class="text-gray-500 text-sm">{{ pedido().direccion }}</p>
          <p class="text-gray-500 text-sm">{{ pedido().cliente_telefono }}</p>
        </div>
        <div class="md:text-right">
          <h3 class="text-gray-400 text-xs uppercase font-bold mb-3 tracking-widest">Método de Pago:</h3>
          <p class="flex items-center justify-end">
            <fa-icon class="dark:text-green-500 text-2xl" [icon]="faCreditCard"></fa-icon><span
              class="px-3 py-1 bg-green-600 backdrop-blur-md rounded-lg text-xs font-bold uppercase text-gray-200">{{
              pedido().metodo_pago }}</span>
          </p>
        </div>
      </div>

      <h3 class="text-gray-800 dark:text-gray-100 font-bold mb-4 flex items-center">
        <fa-icon class="mr-2 text-cyan-600" [icon]="faUtensils"></fa-icon> Resumen del Pedido
      </h3>
      <div class="space-y-4 mb-10">
        @for (item of pedido().items; track item.id_detalle) {
        <div class="flex items-center justify-between p-4 bg-gray-50 dark:bg-gray-700/30 rounded-xl">
          <div class="flex items-center gap-4">
            <div class="w-16 h-16 rounded-lg overflow-hidden bg-gray-200 shadow-inner">
              <img [src]="imgUrl(item.imagen) || 'assets/no-image.jpg'" class="w-full h-full object-cover">
            </div>
            <div>
              <p class="font-bold text-gray-800 dark:text-gray-200">{{ item.nombre_plato }}</p>
              <p class="text-sm text-gray-500">{{ item.cantidad }} x {{ item.precio_unitario | currency:'S/ ' }}</p>
            </div>
          </div>
          <div class="flex">
            <p class="font-bold text-gray-800 dark:text-gray-100">
              S/ {{ item.subtotal | number: '1.2-2' }}
            </p>


            <a [routerLink]="['/cliente/resena/calificar']"
              [queryParams]="{ id_pedido: pedido().id_pedido, id_plato: item.id_plato, nombre: item.nombre_plato }"
              class="hover:text-yellow-600 dark:text-white transition-transform hover:scale-125" title="Calificar">
              <fa-icon [icon]="faStarHalfStroke" class="ms-2"></fa-icon>
            </a>
          </div>
        </div>
        }
      </div>

      <p class="font-extralight text-gray-500 py-2">** Presiona la estrellita para calificar el producto</p>

      <div class="bg-gray-900 text-white rounded-2xl p-6">
        <div class="flex justify-between items-center text-lg">
          <span class="text-gray-400">Monto Total Pagado</span>
          <span class="text-2xl font-black text-cyan-400">
            S/ {{ pedido().monto_total | number: '1.2-2' }}
          </span>
        </div>

      </div>

    </div>
  </div>
  } @else {
  <div class="text-center py-20">
    <p class="text-gray-500">No se encontró información de este pedido.</p>
  </div>
  }
</div>
